<!--templates/base.html-->
{% load static %}

<html>
    <title>Bookstore App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <body>
    <main role="main" class="container">
        <div class="starter-template">
            <header><h1><a href="{% url 'home' %}">BOOKSTORE</a></h1></header>
            <div>
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </main><!-- /.container -->



    </body>
</html>